<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>OwO</title>
    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css" />
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/utility.css" />
    <script src="/js/uwuify.js"></script>
    <style>
        .centered {
            text-align: center;
        }

        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
            padding-bottom: 15px;
            margin: 0 auto;
            /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            text-align: center;
            border-radius: 6px;
            /* Position the tooltip text - see examples below! */
            position: relative;
            z-index: 5;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

        .centered-container {
            text-align: center;
            margin: 0 auto;
            width: 50%;
        }

        body {
            background-repeat: no-repeat, no-repeat;
            background-image: url('/images/uwu.gif');
            background-size: 100vw 100vh;
            color: plum;
            margin: 0;
            font-family: sans-serif;
        }

        #image-form {
            position: relative;
            max-width: 50vw;
            display: flex;
            text-align: center;
            box-sizing: border-box;
            padding: 0.25rem;
        }

        #message-form {
            position: relative;
            max-width: 50vw;
            display: flex;
            text-align: center;
            box-sizing: border-box;
            padding: 0.25rem;
        }

        .message-container {
            width: 75vw;
        }

        form input {
            border: 0;
            padding: 0.5rem;
            width: 100%;
            outline: 0;
            margin-right: 0.5rem;
            border-radius: 0.25rem;
            background: #ccc;
        }

        form button {
            width: 6rem;
            background-color: #1b8c00;
            color: white;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
            border-radius: 0.25rem;
            text-transform: uppercase;
        }

        form button:hover {
            background-color: #166d01;
        }

        .messages {
            margin: 0;
            padding: 0;
            margin-bottom: 3rem;
            position: relative;
        }

        .messages li {
            padding: 0.5rem;
        }

        .messages li:nth-child(odd) {
            background: #eee;
        }

        .message-container .pic {
            background-image: url('/images/profile_placeholder.png');
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            background-size: 30px;
            border-radius: 20px;
        }

        .message-container .spacing {
            display: table-cell;
            vertical-align: top;
        }

        .message-container .message {
            display: table-cell;
            font-size: 16px;
            width: calc(100% - 40px);
            padding: 5px 0 5px 10px;
        }

        .message-container .name {
            display: inline-block;
            width: 100%;
            padding-left: 40px;
            color: #bbb;
            font-style: italic;
            font-size: 12px;
            box-sizing: border-box;
        }

        #user-container {
            position: absolute;
            display: flex;
            flex-direction: row;
            top: 22px;
            width: 100%;
            right: 0;
            padding-left: 10px;
            justify-content: flex-end;
            padding-right: 10px;
        }

        #user-container #user-pic {
            top: -3px;
            position: relative;
            display: inline-block;
            background-image: url('/images/profile_placeholder.png');
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            background-size: 40px;
            border-radius: 20px;
        }

        #user-container #user-name {
            font-size: 16px;
            line-height: 36px;
            padding-right: 10px;
            padding-left: 20px;
        }

        #messages-card-container {
            max-width: 100%;
        }

        #messages-card {
            width: 100%;
        }

        .message img {
            max-width: 300px;
            max-height: 200px;
        }
    </style>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <!-- Header section containing logo -->
        <header class="header mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
                <div
                    class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
                    <h3 class="mdl-color-text--pink-400 bold">UwU Chat</h3>
                </div>
                <div id="user-container">
                    <div id="user-pic"></div>
                    <div id="user-name"></div>
                    <button id="sign-out" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                        Sign-out
                    </button>
                    <button id="sign-in" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                        <i class="material-icons">account_circle</i>Sign-in with Google
                    </button>
                </div>
            </div>
        </header>

        <main class="container flex-center flex-column">
            <div id="messages-card-container">
                <!-- Messages container -->
                <div id="messages-card" class="opacity-85">
                    <div class="text-grey">
                        <div id="messages"></div>
                    </div>
                </div>

                <div id="must-signin-snackbar" class="mdl-js-snackbar mdl-snackbar">
                    <div class="mdl-snackbar__text"></div>
                    <button class="mdl-snackbar__action" type="button"></button>
                </div>
            </div>
            <form id="message-form" action="#">
                <input class="mdl-textfield__input" type="text" id="message" autocomplete="off"
                    placeholder="Message..." />
                <button id="submit" disabled type="submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Send
                </button>
            </form>
            <form id="image-form" action="#">
                <input id="mediaCapture" type="file" accept="image/*" capture="camera" />
                <button id="submitImage" title="Add an image"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--amber-400 mdl-color-text--white">
                    <i class="material-icons">image</i>
                </button>
            </form>
        </main>
        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase.js"></script>
        <%- include("footer") %>
    </div>

    <script>
        function initFirebaseAuth() {
            var firebaseConfig = {
                apiKey: 'AIzaSyCZjXYgvuBaMuiLUI85BNunP42yXLlnq-I',
                authDomain: 'uwu-cam.firebaseapp.com',
                databaseURL: 'https://uwu-cam-chat.firebaseio.com',
                projectId: 'uwu-cam',
                storageBucket: 'uwu-cam.appspot.com',
                messagingSenderId: '922153326140',
                appId: '1:922153326140:web:d3798dcef4a89f71fbd539',
                measurementId: 'G-P33B7XY9ZN',
            }
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig)
        }

        function signOut() {
            firebase.auth().signOut()
        }

        function signIn() {
            firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION).then(() => {
                // Log the user in via Twitter
                var provider = new firebase.auth.GoogleAuthProvider()
                firebase.auth().signInWithPopup(provider).then(() => {
                    try {
                        console.log('Initializing chat...')
                        firebase.auth().onAuthStateChanged(authStateObserver)
                    } catch (err) {
                        console.error(err)
                    }
                }).catch(function (error) {
                    console.error(`Error authenticating user: ${error}`)
                })
            }).catch(function (error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                console.error(`Encountered error ${errorCode}: ${errorMessage}`)
            });
        }
        function getProfilePicUrl() {
            return (
                firebase.auth().currentUser.photoURL ||
                '/images/profile_placeholder.png'
            )
        }

        // Returns the signed-in user's display name.
        function getUserName() {
            return firebase.auth().currentUser.displayName
        }

        function isUserSignedIn() {
            return !!firebase.auth().currentUser
        }

        function saveMessage(messageText) {
            // Add a new message entry to the database.
            return firebase
                .firestore()
                .collection('messages')
                .add({
                    name: getUserName(),
                    text: messageText,
                    profilePicUrl: getProfilePicUrl(),
                    timestamp: firebase.firestore.FieldValue.serverTimestamp(),
                })
                .catch(function (error) {
                    console.error('Error writing new message to database', error)
                })
        }

        function loadMessages() {
            // Create the query to load the last 12 messages and listen for new ones.
            var query = firebase
                .firestore()
                .collection('messages')
                .orderBy('timestamp', 'desc')
                .limit(12)

            // Start listening to the query.
            query.onSnapshot(function (snapshot) {
                snapshot.docChanges().forEach(function (change) {
                    if (change.type === 'removed') {
                        deleteMessage(change.doc.id)
                    } else {
                        var message = change.doc.data()
                        displayMessage(
                            change.doc.id,
                            message.timestamp,
                            message.name,
                            message.text,
                            message.profilePicUrl,
                            message.imageUrl
                        )
                    }
                })
            })
        }

        function saveImageMessage(file) {
            // 1 - We add a message with a loading icon that will get updated with the shared image.
            firebase
                .firestore()
                .collection('messages')
                .add({
                    name: getUserName(),
                    imageUrl: LOADING_IMAGE_URL,
                    profilePicUrl: getProfilePicUrl(),
                    timestamp: firebase.firestore.FieldValue.serverTimestamp(),
                })
                .then(function (messageRef) {
                    // 2 - Upload the image to Cloud Storage.
                    var filePath =
                        firebase.auth().currentUser.uid +
                        '/' +
                        messageRef.id +
                        '/' +
                        file.name
                    return firebase
                        .storage()
                        .ref(filePath)
                        .put(file)
                        .then(function (fileSnapshot) {
                            // 3 - Generate a public URL for the file.
                            return fileSnapshot.ref.getDownloadURL().then((url) => {
                                // 4 - Update the chat message placeholder with the image's URL.
                                return messageRef.update({
                                    imageUrl: url,
                                    storageUri: fileSnapshot.metadata.fullPath,
                                })
                            })
                        })
                })
                .catch(function (error) {
                    console.error(
                        'There was an error uploading a file to Cloud Storage:',
                        error
                    )
                })
        }

        function initChat(user) {
            // Get a Firebase Database ref
            var chatRef = firebase.database().ref('chat')

            // Create a Firechat instance
            var chat = new FirechatUI(
                chatRef,
                document.getElementById('firechat-wrapper')
            )

            // Set the Firechat user
            chat.setUser(user.uid, user.displayName)
            console.log('Initialized chat.')
        }
        function onMediaFileSelected(event) {
            event.preventDefault()
            var file = event.target.files[0]

            // Clear the selection in the file picker input.
            imageFormElement.reset()

            // Check if the file is an image.
            if (!file.type.match('image.*')) {
                var data = {
                    message: 'You can only share images',
                    timeout: 2000,
                }
                signInSnackbarElement.MaterialSnackbar.showSnackbar(data)
                return
            }
            // Check if the user is signed-in
            if (checkSignedInWithMessage()) {
                saveImageMessage(file)
            }
        }

        // Triggered when the send new message form is submitted.
        function onMessageFormSubmit(e) {
            e.preventDefault()
            // Check that the user entered a message and is signed in.
            if (messageInputElement.value && checkSignedInWithMessage()) {
                var uwuText = messageInputElement.value
                uwuText = getUwuString(uwuText)
                console.log(uwuText)
                saveMessage(uwuText).then(function () {
                    // Clear message text field and re-enable the SEND button.
                    resetMaterialTextfield(messageInputElement)
                    toggleButton()
                })
            }
        }

        // Triggers when the auth state change for instance when the user signs-in or signs-out.
        function authStateObserver(user) {
            if (user) {
                // User is signed in!
                // Get the signed-in user's profile pic and name.
                var profilePicUrl = getProfilePicUrl()
                var userName = getUserName()

                // Set the user's profile pic and name.
                userPicElement.style.backgroundImage =
                    'url(' + addSizeToGoogleProfilePic(profilePicUrl) + ')'
                userNameElement.textContent = userName

                // Show user's profile and sign-out button.
                userNameElement.removeAttribute('hidden')
                userPicElement.removeAttribute('hidden')
                signOutButtonElement.removeAttribute('hidden')

                // Hide sign-in button.
                signInButtonElement.setAttribute('hidden', 'true')

                // We save the Firebase Messaging Device token and enable notifications.
                saveMessagingDeviceToken()
            } else {
                // User is signed out!
                // Hide user's profile and sign-out button.
                userNameElement.setAttribute('hidden', 'true')
                userPicElement.setAttribute('hidden', 'true')
                signOutButtonElement.setAttribute('hidden', 'true')

                // Show sign-in button.
                signInButtonElement.removeAttribute('hidden')
            }
        }

        // Returns true if user is signed-in. Otherwise false and displays a message.
        function checkSignedInWithMessage() {
            // Return true if the user is signed in Firebase
            if (isUserSignedIn()) {
                return true
            }

            // Display a message to the user using a Toast.
            var data = {
                message: 'You must sign-in first',
                timeout: 2000,
            }
            signInSnackbarElement.MaterialSnackbar.showSnackbar(data)
            return false
        }

        // Resets the given MaterialTextField.
        function resetMaterialTextfield(element) {
            element.value = ''
            element.parentNode.MaterialTextfield.boundUpdateClassesHandler()
        }

        // Template for messages.
        var MESSAGE_TEMPLATE =
            '<div class="message-container">' +
            '<div class="spacing"><div class="pic"></div></div>' +
            '<div class="message"></div>' +
            '<div class="name"></div>' +
            '<button hidden class="delete-message">Delete</button>' +
            '</div>'

        // Adds a size to Google Profile pics URLs.
        function addSizeToGoogleProfilePic(url) {
            if (
                url.indexOf('googleusercontent.com') !== -1 &&
                url.indexOf('?') === -1
            ) {
                return url + '?sz=150'
            }
            return url
        }

        // A loading image URL.
        var LOADING_IMAGE_URL = 'https://www.google.com/images/spin-32.gif?a'

        function deleteUserMessage(messageData) {
            if (messageData.imageUrl) {
                var query = firestore
                    .collection('messages')
                    .where('name', '==', messageData.name)
                    .where('timestamp', '==', messageData.timestamp)
                    .where('imageUrl', '==', messageData.imageUrl)
            } else {
                var query = firestore
                    .collection('messages')
                    .where('name', '==', messageData.name)
                    .where('timestamp', '==', messageData.timestamp)
                    .where('text', '==', messageData.text)
            }

            query.get().then(function (querySnapshot) {
                querySnapshot.forEach(function (doc) {
                    doc.ref.delete()
                    deleteMessage(messageData.id)
                })
            })
        }

        // Delete a Message from the UI.
        function deleteMessage(id) {
            var div = document.getElementById(id)
            // If an element for that message exists we delete it.
            if (div) {
                div.parentNode.removeChild(div)
            }
        }

        function createAndInsertMessage(id, timestamp) {
            const container = document.createElement('div')
            container.innerHTML = MESSAGE_TEMPLATE
            const div = container.firstChild
            div.setAttribute('id', id)

            // If timestamp is null, assume we've gotten a brand new message.
            // https://stackoverflow.com/a/47781432/4816918
            timestamp = timestamp ? timestamp.toMillis() : Date.now()
            div.setAttribute('timestamp', timestamp)

            // figure out where to insert new message
            const existingMessages = messageListElement.children
            if (existingMessages.length === 0) {
                messageListElement.appendChild(div)
            } else {
                let messageListNode = existingMessages[0]

                while (messageListNode) {
                    const messageListNodeTime = messageListNode.getAttribute(
                        'timestamp'
                    )

                    if (!messageListNodeTime) {
                        throw new Error(
                            `Child ${messageListNode.id} has no 'timestamp' attribute`
                        )
                    }

                    if (messageListNodeTime > timestamp) {
                        break
                    }

                    messageListNode = messageListNode.nextSibling
                }

                messageListElement.insertBefore(div, messageListNode)
            }

            return div
        }

        // Displays a Message in the UI.
        function displayMessage(id, timestamp, name, text, picUrl, imageUrl) {
            var div =
                document.getElementById(id) || createAndInsertMessage(id, timestamp)

            // profile picture
            if (picUrl) {
                div.querySelector('.pic').style.backgroundImage =
                    'url(' + addSizeToGoogleProfilePic(picUrl) + ')'
            }

            div.querySelector('.name').textContent = name
            var messageElement = div.querySelector('.message')

            var deleteMessageElements = div.querySelectorAll('.delete-message')
            console.log(deleteMessageElements)
            for (let i = 0; i < deleteMessageElements.length; i++) {
                var deleteMessageElement = deleteMessageElements[i]
                if (
                    firebase.auth().currentUser != null &&
                    name == firebase.auth().currentUser.displayName
                ) {
                    deleteMessageElement.removeAttribute('hidden')
                    deleteMessageElement.addEventListener('click', function () {
                        deleteUserMessage({ timestamp, name, id, text, imageUrl })
                    })
                } else {
                    deleteMessageElement.setAttribute('hidden', '')
                }
            }
            if (text) {
                // If the message is text.
                messageElement.textContent = text
                // Replace all line breaks by <br>.
                messageElement.innerHTML = messageElement.innerHTML.replace(
                    /\n/g,
                    '<br>'
                )
            } else if (imageUrl) {
                // If the message is an image.
                var image = document.createElement('img')
                image.addEventListener('load', function () {
                    messageListElement.scrollTop = messageListElement.scrollHeight
                })
                image.src = imageUrl + '&' + new Date().getTime()
                messageElement.innerHTML = ''
                messageElement.appendChild(image)
            }
            // Show the card fading-in and scroll to view the new message.
            setTimeout(function () {
                div.classList.add('visible')
            }, 1)
            messageListElement.scrollTop = messageListElement.scrollHeight
            messageInputElement.focus()
        }

        // Enables or disables the submit button depending on the values of the input
        // fields.
        function toggleButton() {
            if (messageInputElement.value) {
                submitButtonElement.removeAttribute('disabled')
            } else {
                submitButtonElement.setAttribute('disabled', 'true')
            }
        }

        // Checks that the Firebase SDK has been correctly setup and configured.
        function checkSetup() {
            if (
                !window.firebase ||
                !(firebase.app instanceof Function) ||
                !firebase.app().options
            ) {
                window.alert(
                    'You have not configured and imported the Firebase SDK. ' +
                    'Make sure you go through the codelab setup instructions and make ' +
                    'sure you are running the codelab using `firebase serve`'
                )
            }
        }
        // initialize Firebase
        initFirebaseAuth()
        // Checks that Firebase has been imported.
        checkSetup()

        // Shortcuts to DOM Elements.
        var messageListElement = document.getElementById('messages')
        var messageFormElement = document.getElementById('message-form')
        var messageInputElement = document.getElementById('message')
        var submitButtonElement = document.getElementById('submit')
        var imageButtonElement = document.getElementById('submitImage')
        var imageFormElement = document.getElementById('image-form')
        var mediaCaptureElement = document.getElementById('mediaCapture')
        var userPicElement = document.getElementById('user-pic')
        var userNameElement = document.getElementById('user-name')
        var signInButtonElement = document.getElementById('sign-in')
        var signOutButtonElement = document.getElementById('sign-out')
        var signInSnackbarElement = document.getElementById(
            'must-signin-snackbar'
        )

        // Saves message on form submit.
        messageFormElement.addEventListener('submit', onMessageFormSubmit)
        signOutButtonElement.addEventListener('click', signOut)
        signInButtonElement.addEventListener('click', signIn)

        // Toggle for the button.
        messageInputElement.addEventListener('keyup', toggleButton)
        messageInputElement.addEventListener('change', toggleButton)

        // Events for image upload.
        imageButtonElement.addEventListener('click', function (e) {
            e.preventDefault()
            mediaCaptureElement.click()
        })
        mediaCaptureElement.addEventListener('change', onMediaFileSelected)

        // Remove the warning about timstamps change.
        var firestore = firebase.firestore()

        // TODO: Enable Firebase Performance Monitoring.

        // We load currently existing chat messages and listen to new ones.
        loadMessages()
    </script>
</body>

</html>
